VITE_BASE_URL=
VITE_SUPABASE_AUTH_KEY=
VITE_HOST=

NODE_ENV=

VITE_GOOGLE_CLIENT_ID=
VITE_GOOGLE_CLIENT_SECRET=

VITE_SUPABASE_URL=
VITE_SUPABASE_KEY=
VITE_YT_API_KEY=

VITE_RAZORPAY_KEY_ID=
VITE_RAZORPAY_KEY_SECRET=
