services:
  main-backend:
    container_name: backend-dev
    build:
      context: .
      dockerfile: Dockerfile.dev
    environment:
      NODE_ENV: development
    ports:
      - 3000:3000
    env_file:
      - .env
    depends_on:
      - redis
    networks:
      - fuse-network
    volumes:
      - .:/app
      - /app/node_modules
  redis:
    image: redis:7-alpine
    env_file:
      - .env
    restart: always
    command: redis-server --appendonly yes --requirepass ${REDIS_PASSWORD} --bind 0.0.0.0
    volumes:
      - redis-data:/data
    networks:
      - fuse-network
volumes:
  redis-data:
networks:
  fuse-network:
    driver: bridge
